.NavBarSideScroll, .TopBarHeader {
    color: #282828;
    background-color: #0C0032;
}

#SettingsIcon {
       color: #282828!important;
}

.carousel-cell {
    background: #230090;
    color: #0C0032;
}

.SettingsModal-header {
    background-color: #3500D4;
}

.SettingsModal-body {
    background-color: #282828;
}

body {
    background-color: #282828;
    color: #1A0061;
}

#collapseOne {
    background-color: #3500D4;
}

#AcordianSearchHeader {
    background-color: #1A0061;
}

#AcordianSettingsHeader {
    background-color: #1A0061;
}

#collapseTwo {
    background-color: #3500D4;
    color: #1A0061;
}

.ArticleCardBody {
    background-color: #0C0032;
    color: #282828;
}

.ArticleCardFoot {
    background-color: #230090;
}

.ArticleModal-body {
    background-color: #3500D4;
}

.ArticleModal-footer {
    border-top-color: #1A0061;
    background-color: #230090;
}


#SettingsModalTitleOne {
    color: #3500D4;
}

#SettingsModalTitleTwo {
    color: #3500D4;
}

.form-control {
    background-color: #1A0061;
    color: #230090;
}

.form-control::placeholder {
    color: #230090;
    opacity: 1;
}

.form-control:focus {
    background-color: #1A0061;
    color: #230090;
}

.PageNumActive {
    background-color: #3500D4!important;
    color: #0C0032;
}

.page-link {
    background-color: #282828;
    color: #1A0061;
}

#PagePrev, #PageNext {
    background-color: #282828;
    color: #1A0061;
}