.NavBarSideScroll, .TopBarHeader {
    color: #B0A295;
    background-color: #5D5C61;
}

#SettingsIcon {
       color: #B0A295!important;
}

.carousel-cell {
    background: #7395AE;
    color: #5D5C61;
}

.SettingsModal-header {
    background-color: #557A95;
}

.SettingsModal-body {
    background-color: #B0A295;
}

body {
    background-color: #B0A295;
    color: #938E94;
}

#collapseOne {
    background-color: #557A95;
}

#AcordianSearchHeader {
    background-color: #938E94;
}

#AcordianSettingsHeader {
    background-color: #938E94;
}

#collapseTwo {
    background-color: #557A95;
    color: #938E94;
}

.ArticleCardBody {
    background-color: #5D5C61;
    color: #B0A295;
}

.ArticleCardFoot {
    background-color: #7395AE;
}

.ArticleModal-body {
    background-color: #557A95;
}

.ArticleModal-footer {
    border-top-color: #938E94;
    background-color: #7395AE;
}


#SettingsModalTitleOne {
    color: #557A95;
}

#SettingsModalTitleTwo {
    color: #557A95;
}

.form-control {
    background-color: #938E94;
    color: #7395AE;
}

.form-control::placeholder {
    color: #7395AE;
    opacity: 1;
}

.form-control:focus {
    background-color: #938E94;
    color: #7395AE;
}

.PageNumActive {
    background-color: #557A95!important;
    color: #5D5C61;
}

.page-link {
    background-color: #B0A295;
    color: #938E94;
}

#PagePrev, #PageNext {
    background-color: #B0A295;
    color: #938E94;
}