@import url('SigmarOne.css');

/* Initial Country Modal full CSS */
/* The Modal (background) */
.Initmodal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Sit on top */
    left: 0;
    bottom: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.Initmodal-content {
    position: fixed;
    bottom: 0px;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.Initclose {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.Initclose:hover,
.Initclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.Initmodal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.Initmodal-body {
    padding: 2px 16px;
}

.Initmodal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#SubInitText {
    font-size: 0.8rem;
}


.NavBar_Card {
    display: contents;
    font-size: 1.4rem;
    scroll-snap-align: start;
    width: 60%;
}



.card-text {
    font-size: 0.8rem;
}

.ArticleCard {
    border-radius: 4%;
}

.top-bar {
/*    height: 20vh;*/
    
    z-index: 3;
}

#TopMainTitle {
    font-family: 'Sigmar One', cursive;
}

.PageNumActive {
    color: #007bff !important;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    z-index: 2;
}

.TopBarHeader {
    border: solid 2px black;
    border-bottom: 0;
}

.NavBarSideScroll {
    border: solid 2px black;
    box-shadow: 0 5px 6px #000, 0 -5px 6px #000;
}

.NavBarInsideSideScroll::-webkit-scrollbar {
    display: none;
}

#ArticleContainer {
    height: 30vh;
}

.ArticleTitle {
    font-size: 0.8rem;
}

.ArticleSource,
.ArticleDate {
    font-size: 0.7rem;
}

#NavCategoryScroll {
    height: 8vh;
    background-color: white;
    overflow-x: hidden;
    box-shadow: 25px 0 20px -20px #000 inset, -25px 0 20px -20px #000 inset;
    border: solid 2px #000;
}

.carousel-cell {
    padding-top: 1vh;
    width: 50%;
    height: 6vh;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
    text-align: center;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 800px;
    color: white;
}

#ArticleModal {
        position: unset!important;
    max-height: 100%;
}

#SettingsModal {
        position: unset!important;
    max-height: 100%;
}

.SettingsModal-content {
    border: 0;
}

.ColourOption {
    font-size: 1.5rem;
}

#ColourOption1 {
    color: #163F58;
}

#ColourOption2 {
    color: #F5A21C;
}

#ColourOption3 {
    color: #e51c1c;
}

#ColourOption4 {
    color: #7EDEC2;
}

#ColourOption5 {
    color: #200371;
}

#ColourOption6 {
    color: #5F011F;
}

/* Colour Styles */
/* General */
:root {
    --Main: #163F58;
    --MainShade1: #00677D;
    --MainShade2: #394855;
    --Secondary: #F5B51B;
    --SecondaryShade1: #f7ca5d;
    --SecondaryShade2: #C58C00;
    --Light: #FFFFFF;
    --Dark: #000000;
}

body {
     background-color: var(--Secondary);
}

/* Header */
.TopBarHeader, #SettingsIcon {
    background-color: var(--Main);
    color: var(--Secondary);
}

.NavBarSideScroll {
    background-color: var(--Main);
}

#NavCategoryScroll {
    background-color: #FFFFFF;
}

.carousel-cell {
    background-color: var(--MainShade1);
    color: var(--Secondary);
    border: solid 3px #000000;
}

/* Article Modal */
.ArticleModal-content {
    border: solid 4px var(--MainShade2);
}

.ArticleModal-header {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom: 0;
}

.ArticleModal-body {
    border-top: solid 6px var(--MainShade2);
    border-bottom: solid 6px var(--MainShade2);
    background-color: var(--Main);
    color: var(--Light);
}

#ArticleModalSource, #ArticleModalDate {
    color: var(--Secondary)!important;
}

.ArticleModal-footer {
    background-color: var(--MainShade1);
    border: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#ArticleModalMore {
    color: var(--MainShade1);
    background-color: var(--SecondaryShade2);
    border: solid 2px var(--Light);
}

#ArticleModalClose {
    color: var(--MainShade1);
    background-color: var(--SecondaryShade2);
    border: solid 2px var(--Light);
}

/* Article Cards */
.ArticleCard {
    border: solid 3px var(--MainShade2);
}

.ArticleCardBody {
    border-top: solid 3px var(--MainShade2);
    border-bottom: solid 3px var(--MainShade2);
    background-color: var(--Main);
    color: var(--Secondary);
}

.ArticleCardFoot {
    background-color: var(--MainShade1);
    color: var(--SecondaryShade2)!important;
}

/* Page Navigation */
.PageNumInactive {
    text-decoration: none;
    background-color: var(--Secondary);
    color:  var(--Main)!important;
    border: solid 1px var(--Dark);
}

.PageNumActive {
    text-decoration: none;
    background-color: var(--Main)!important;
    color:  var(--Secondary)!important;
}

/* Configuration Modals Shared */
#FullAcordian {
    border-radius: .25rem;
}

#FullAcordian .card {
    border: 0;
}

#AcordianSearchHeader,
#AcordianSettingsHeader {
    background-color: var(--Main);
    border: solid 2px var(--Dark);
}

#SettingsModalTitleOne,
#SettingsModalTitleTwo {
    color: var(--Secondary);
}

#collapseOne,
#collapseTwo {
    background-color: var(--SecondaryShade1);
    color: var(--Main);
    border: solid 2px var(--Dark);
}

#collapseOne input,
#collapseOne select,
#collapseTwo input,
#collapseTwo select {
    border: solid 2px var(--Dark);
    background-color: var(--MainShade2);
    color: var(--Light);
}

#collapseOne ::placeholder {
    color: var(--Light);
}

#SettingsPageSizeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5vw;
    border-radius: 10px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#SettingsPageSizeSlider::-webkit-slider-thumb {
    background: var(--Light);
    -webkit-appearance: none;
    appearance: none;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
}

.SettingsModalClose {
    background-color: var(--MainShade1);
    color: var(--Light);
    border: solid 2px var(--Dark);
}

.SettingsModalSubmit {
    background-color: var(--MainShade1);
    color: var(--Light);
    border: solid 2px var(--Dark);
}

/* Init Modal */
.Initmodal-content {
    background-color: var(--Secondary);
    color: var(--Main);
}

#SubInitText {
    color: var(--MainShade2)!important;
}

.Initmodal-header, .Initmodal-footer {
    background-color: var(--Main);
    color: var(--Secondary);
}

.Initmodal-body select {
    background-color: var(--Light);
    color: var(--Main);
    border: solid 2px var(--Dark);
}

.Initmodal-footer button {
    background-color: var(--Secondary); /* ? */
    color: var(--Main);
    border: solid 2px var(--Light);
}

/* Internet Error */

/* Internet Warning Message */

/* Search Alert */
#SearchActive {
    color: var(--Secondary);
    background-color: var(--Main);
    border-bottom: solid 2px black;
    box-shadow: 0 2px 5px #000;
    border-radius: 0;
}

#SettCardBot {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

#SettCardTop {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

.NetWarning {
    border: 2px solid #721c24;
    height: 5vh;
}

.NetWarningPlaceHolder {
    height: 5vh;
    display: inline-block;
}
